<div>
    <div id="cuci" aria-label="Driver Name">
        
        {{indeks+ ". " + vozac?.name}} 
    </div>
    <img width="300" [src]="vozac?.iconUrl">

    <div aria-label="Driver's team">
        {{vozac?.team}}
    </div>


    <div [ngSwitch]="vozac?.category">

        <div *ngSwitchCase="'EXPERT'">EXPERT</div>
        <div *ngSwitchCase="'LUNATIC'">5arda</div>
        <div *ngSwitchCase="'ASD'">dushicka</div>
        <div *ngSwitchDefault>No Comment</div>
        

    </div>

    <div aria-hidden="true">
        <p>Points:</p>
    </div>

    <div aria-live="polite"> <!--promenite se najavuvaat bez prekinuvanje na tekovnata aktivnost-->
       <p> {{vozac?.points}} </p>
    </div>

    <button (click)="onDrvView()" aria-label="Slika od vozacot vo nov tab">Klikni me</button>


    <div>
        &nbsp;
    </div>
</div>
